<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Restaurant Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recommendations.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Your Restaurant Recommender</h1>
        </div>
        <div class="content-container">
            <div class="left-pane">
                <h2>What do you wanna eat today?</h2>
                <form action="/search" method="post">
                    <div class="options">
                        <label>
                            <input type="checkbox" name="option" value="Option 1"> Option 1
                        </label>
                    </div>
                    <div class="options">
                        <label>
                            <input type="checkbox" name="option" value="Option 2"> Option 2
                        </label>
                    </div>
                    <!-- Add more options as needed -->

                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="right-pane">
                <div class="header">
                    <h1>Restaurants You Might Like</h1>
                </div>
                <div class="restaurant-list">
                    <div class="restaurant-row">
                        {% for restaurant in recommended_restaurants %}
                        <a href="{{ url_for('restaurant_page', restaurant_id=restaurant.id, user_id=user_id) }}" class="restaurant-card">
                            <img class="restaurant-image" src="{{ restaurant.image_url }}" alt="{{ restaurant.name }}">
                            <div class="restaurant-name">{{ restaurant.name }}</div>
                            <div class="restaurant-rating">Rating: {{ restaurant.rating }}</div>
                        </a>
                        {% if loop.index % 5 == 0 %}
                    </div>
                    <div class="restaurant-row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>